<div class="row justify-content-center padding">
  <div class="shadow-lg p-3 mb-5 bg-light rounded col-sm-4 justify-content-center aling-items-center
        p-4 d-flex flex-column border border-info text-center">      
      <img src="{{pic}}" width="200px" height="200px" class="rounded mx-auto d-block rounded-circle" style="object-fit: cover" alt="...">
        <p>Nombre: {{firstname}}</p>
        <p>Apellido: {{lastname}}</p>
        <p>Mail registrado: {{mail}}</p>
        <p>Usted esta registrado desde: {{date}}</p>
        <p>ID: {{idUser}}</p>
      <a class="btn btn-outline-primary" id="signOut" href="/users/logout">Cerrar sesion</a>
  </div>  
</div>
