 
 
 {{#each guitar}}

<div class="card col-4 " style="width: 18rem; margin-right: 10px; margin-top: 10px">
        <img  src="{{this.imagen}}" class="card-img-top " style="width:270px; height: 270px; object-fit: scale-down" alt="..." />
        <div class="card-body">
        <h5 class="card-title">{{this.marca}}</h5>
        <p class="card-text">{{this.modelo}}</p>
        <p class="card-text">Precio: ${{number this.precio}}</p>
        <div class="row justify-content-center">
        <a onclick='handleAdd(`{{this.marca}}`,{{this.precio}},`{{this.modelo}}`)' class="btn btn-primary col-6">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg></a>        
        </div>
        </div>
        </div>
         {{/each}}